@import "variable";

body {
  background-color: #f9f9f9;
  font-family: 'Nunito', sans-serif;
}

.container{
  display: flex;
  flex-wrap: wrap;
  & > div{
    width: $global_size;
    display: flex;
    flex-direction: column;
    img{
      width: 100%;
      height: $global_size;
      object-fit: cover;
    }
    div{
      width: 100%;
      height: $global_size;
      padding: 15px;
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &:nth-of-type(odd){
      div{
        background-color: $color_primary;
      }
    }
    &:nth-of-type(even){
      flex-direction: column-reverse;
      div{
        background-color: $color_secondary;
      }
    }
  }
  @media screen and (max-width: 1024px) {
    align-items: center;

    & > div{
      width: 100%;
      &:nth-of-type(even){
      flex-direction: column;  
      }
    }
  }
  @media screen and (min-width:769px) and (max-width:1023px) {
    align-items: center;
    flex-direction: row-reverse;
    & > div{
      width: 100%;
      &:nth-of-type(odd){
      flex-direction: row;
      color: rgb(122, 189, 233);
    }
    &:nth-of-type(even){
      flex-direction: row-reverse;
      color: rgb(122, 189, 233);
    }
  }
}
  @media screen and (max-width: 768px){
    & > div{
      width: 100%;
      flex-direction:column
      &:nth-of-type(even){
        flex-direction: column;  
        }
    }
  }
}
