@import "mixin";

body {
  background-color: #f9f9f9;
  font-family: 'Nunito', sans-serif;
}

.block{
  @include center-block(50px);
  button{
    @include button{
      background-color: aquamarine;
      color: gold;
      transition: 0.4s;
      &:hover{
        color: rgb(146, 146, 206);
        background-color: rgb(33, 71, 71);
      }
    }
  }
}

