// le "_" devant le nom du fichier me permet visuellement me permet de savoir que ça va être un fichier importé dans le main scss

$height: 200px;
$width: 300px;
$color: aquamarine;
$background: rgba($color, 0.5);